@import url(http://fonts.googleapis.com/css?family=PT+Mono|Oswald:400,700);
body {
  font-family: 'Oswald', sans-serif;
  margin: 0; }
  body.demo {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.container, article {
  max-width: 40em;
  margin: 1em auto; }

header, footer {
  background: #23241f;
  padding: 3em 0;
  color: white;
  text-align: center; }

footer {
  font-size: 14px;
  padding: 2em 2em;
  position: relative; }
  footer img {
    height: 4em;
    position: absolute;
    right: 2em;
    bottom: 0.5em; }

#demos {
  margin: -1.5em auto 3em;
  text-align: center; }

h1 {
  font-size: 5em;
  line-height: 1;
  margin: 0.2em; }

#logo {
  height: 1.2em;
  vertical-align: middle; }

h3 {
  font-size: 1.3em;
  margin: 0.5em; }

canvas {
  margin: auto; }

p {
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  line-height: 1.3;
  text-align: justify;
  padding: 1em 2em 0; }
  p em {
    font-style: normal;
    color: purple; }

pre {
  text-align: left;
  margin: auto; }

.hljs {
  padding: 1.5em 2em;
  border-radius: 5px;
  font-family: 'PT Mono', monospace;
  font-size: 14px; }

kbd {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 2px; }

ul {
  list-style-type: none;
  padding: 0; }
  ul > li {
    display: inline-block;
    font-size: 20px; }
    ul > li > a {
      border: 1px solid purple;
      border-radius: 5px;
      padding: 5px 10px;
      -webkit-transition: background 200ms ease, color 200ms ease;
              transition: background 200ms ease, color 200ms ease; }
      ul > li > a:hover {
        text-decoration: none;
        background-color: purple;
        color: white; }
  ul > li {
    margin: 0.5em; }

a {
  display: inline-block;
  font-family: 'PT Mono', monospace;
  color: purple;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.demo-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em; }
  .demo-header .view-source {
    float: right;
    line-height: 2em; }
  .demo-header img {
    height: 2em;
    margin-right: 0.5em;
    vertical-align: middle; }
  .demo-header strong {
    font-size: 1.3em; }

.scores {
  position: absolute;
  left: 50%;
  top: 0.8em;
  width: 4em;
  margin-left: -2em;
  text-align: center;
  font-size: 3em; }
  .scores .best {
    font-size: 0.5em;
    color: #666; }
