body {
  font-family: sans-serif;
  text-align: center;
  margin: 1em;

  &.demo { margin: 0; }
}

canvas {
  margin: auto;
}

pre {
  text-align: left;
  width: 600px;
  margin: auto;
  padding: 1.5em 0 1em;

  color: white;
  background: rgb(30, 30, 30);
  border: 1px solid black;
  border-radius: 4px;
}

kbd {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 2px;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    font-size: 20px;
  }

  li + li { margin-left: 1em; }
}

a {
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

.byline {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.demo-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;

  .title { float: left; }
  .view-source { float: right; }
}
